*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    color: #636363;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

p{
    color: #636363;
    line-height: 1.6;
}

img{
    display: block;
}

.clear{
    clear: both;
}

:root {
    --animate-duration: 2s;
}

/* header */
/* header-nav */
header{
    padding-top: 36px;
    background-image: url(./image/pic2.png);
    background-position: top;
    background-size: contain;
}

header .header-nav{
    display: flex;
    justify-content: space-between;
}

header .header-nav a{
    text-decoration: none;
    color: black;
    padding: 0 12px;
    font-size: 0.95rem;
    font-weight: 500;
}

header .header-nav a.logo{
    padding: 0;
}

.header-nav a i{
    font-size: 0.7rem;
    padding-left: 4px;
}

header .header-nav span{
    display: inline-block;
    padding: 5px 0;
    transition: 0.5s;
}

header .header-nav a:hover{
    color: #f55f8d;
}

header .header-nav a:hover span{
    animation: header-move 0.4s;
}

header .header-nav button{
    padding: 20px 36px;
    border-radius: 30px;
    color: white;
    border: none;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    font-size: 1rem;
    margin-left: 24px;
    transition: 0.5s;
    cursor: pointer;
}

header .header-nav button:hover{
    background-position: right center;
}

/*header-getstart*/
.header-getstart{
    margin-top: 74px;
}

.getstart_container{
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.getstart_left p.wearethebest{
    color: #f55f8d;
    font-size: 1.35rem;
    font-weight: 700;
}

.getstart_left h2{
    font-size: 4.35rem;
    line-height: 1.1;
    color: #262626;
}

.getstart_left p{
    font-size: 1.1rem;
    padding: 22px 0;
}

.getstart_left .check{
    margin-bottom: 18px;
}

.getstart_left .check span{
    font-size: 1.25rem;
    color: #636363;
    padding-left: 10px;
}

.getstart_left .check i{
    color: white;
    padding: 6px 6px;
    background: linear-gradient(to right, #f55f8d,#f8ae56);
    border-radius: 50%;
    font-size: 1.5rem;
}

.getstart_left button{
    padding: 20px 36px;
    border-radius: 30px;
    color: white;
    border: none;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    font-size: 1rem;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 12px;
}

.getstart_left button:hover{
    background-position: right center;
}

.getstart_left{
    width: 60%;
}

.getstart_right{
    width: 40%;
    padding-left: 50px;
}

.getstart_right img{
    max-width: 135%;
}

/* services */
.services{
    padding-top: 130px;
    text-align: center;
    background-image: url(./image/bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.services p.whatwedobest{
    color: #f55f8d;
    font-size: 1.35rem;
    font-weight: 700;
}

.services h2{
    font-size: 4.35rem;
    line-height: 1.1;
    color: #262626;
    margin-top: 22px;
    margin-bottom: 40px;
}

.services_list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.services_list .list_item{
    background: #fff;
    border-radius: 8px;
    padding: 32px 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border: none;
    transform: translateY(0);
    transition: 0.5s;
}

.services_list .list_item:hover{
    transform: translateY(-24px);
}

.services_list .list_item .item_img{
    display: flex;
    justify-content: center;
}

.services_list .list_item img{
    width: 215px;
}

.services_list .list_item h3{
    font-size: 1.5rem;
    color: #262626;
    margin: 20px 0;
}

.services_list .list_item p{
    font-size: 1rem;
}

/* aboutus */
.aboutus{
    margin-top: 110px;
    background-image: url(./image/bg15.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.aboutus .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.aboutus_left{
    width: 60%;
    position: absolute;
    left: -17%;
}

.aboutus_right{
    width: 50%;
}

.aboutus_left img{
    width: 100%;
    border-radius: 0 100px 100px 0;
}

.aboutus_right h3{
    color: #f55f8d;
    font-size: 1.35rem;
    font-weight: 700;
}

.aboutus_right h2{
    font-size: 4.35rem;
    line-height: 1.1;
    color: #262626;
    margin-top: 22px;
}

.aboutus_right ul{
    list-style-type: none;
}

.aboutus_right li{
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.aboutus_right i{
    font-size: 1.5rem;
    color: #f55f8d;
    margin-right: 10px;
}

.aboutus_right p{
    padding: 15px 0;
}

.aboutus_right button{
    padding: 20px 36px;
    border-radius: 30px;
    color: white;
    border: none;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    font-size: 1rem;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 28px;
}

.aboutus_right button:hover{
    background-position: right center;
}

/* counter*/
.counter{
    margin-top: 100px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
    background-image: url(./image/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
}

.counter .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

.counter i{
    font-size: 2.7rem;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    background: linear-gradient(to right, #f55f8d,#f8ae56);
    display: inline-block;
    color: white;
}

.counter h3{
    color: #f55f8d;
    font-size: 4rem;
    line-height: 1;
    margin-top: 14px;
}

.counter p{
    color: black;
    font-size: 1.2rem;
}

/* features */
.features{
    background-image: url(./image/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 100px;
}

.features .container{
    display: flex;
    position: relative;
}

.features_left{
    width: 50%;
}

.features_right{
    width: 56%;
    position: absolute;
    right: -6%;
}

.features_left h5{
    color: #f55f8d;
    font-size: 1.35rem;
    font-weight: 700;
}

.features_left h2{
    font-size: 4.35rem;
    line-height: 1.1;
    color: #262626;
    margin-top: 22px;
}

.features_left .features_item{
    display: flex;
    align-items: center;
    margin-top: 28px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 10px;
    width: 550px;
    padding: 32px 30px 30px 26px;
    position: relative;
}

.features_left .features_item::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f55f8d,#f8ae56);
    border-radius: 10px;
    opacity: 0;
    transition: 0.8s;
    z-index: 1;
}

.features_left .features_item:hover::before{
    opacity: 1;
}

.features_left .features_item i{
    font-size: 5rem;
    color: #f55f8d;
    line-height: 1;
    transition: 0.6s;
}

.features_left .item_content{
    margin-left: 26px;
}

.features_left .features_item h3{
    font-size: 1.5rem;
    color: #262626;
    transition: 0.6s;
}

.features_left .features_item p{
    transition: 0.6s;
}

.features_item:hover h3, .features_item:hover i, .features_item:hover p{
    color: white;
}

.features_left .left-space{
    margin-left: 50px;
}

.features_left .fixcolor{
    position: relative;
    z-index: 2;
}

.features_right img{
    width: 100%;
    animation: features-move 5s infinite;
}

/* porfolio */
.porfolio{
    margin-top: 150px;
}

.porfolio_title {
    text-align: center;
}

.porfolio_title h3{
    color: #f55f8d;
    font-size: 1.35rem;
    font-weight: 700;
}

.porfolio_title h2{
    font-size: 4.35rem;
    color: #262626;
    margin: 16px 0;
}

.porfolio_grid{
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    gap: 36px;
}

.porfolio_grid .item-1{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

.porfolio_grid .item-2{
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}

.porfolio_grid .item-3{
    grid-row: 2 / 4;
    grid-column: 3 / 4;
}

.porfolio_grid .grid_item{
    position: relative;
}

.porfolio_grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.porfolio_grid .grid_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.7s;
    overflow: hidden;
}

.porfolio_grid .grid_overlay:hover{
    opacity: 1;
}

.porfolio_grid .grid_overlay::before{
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: -100%;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
    transition: 0.75s;
}

.porfolio_grid .grid_overlay:hover::before{
    left: 125%;
}

.porfolio_grid .overlay_icon{
    color: white;
    text-align: center;
    font-size: 1.7rem;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 12px;
    background: linear-gradient(to right, #f55f8d,#f8ae56);
    position: absolute;
    top: 20px;
    right: 20px;
    transform: translate(20px,-20px);
    cursor: pointer;
    transition: 0.5s;
}


.porfolio_grid .overlay_content{
    position: absolute;
    bottom: 28px;
    left: 30px;
    transform: translateY(28px);
    transition: 0.5s;
}

.porfolio_grid .overlay_content h5{
    font-size: 1.5rem;
    color: white;
}

.porfolio_grid .overlay_content p{
    color: rgba(255, 255, 255, 0.75);
}

.grid_overlay:hover .overlay_content, .grid_overlay:hover .overlay_icon{
    transform: translateY(0);
}

/* plan */
.plan{
    text-align: center;
    background-image: url(./image/bg16.png);
    padding-top: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.plan_title h3{
    color: #f55f8d;
    font-size: 1.35rem;
    font-weight: 700;
}

.plan_title h2{
    font-size: 4.35rem;
    color: #262626;
    margin-top: 20px;
    margin-bottom: 30px;
}

.plan_list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.plan_item{
    padding: 42px 60px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border: 3px solid transparent;
    border-radius: 8px;
    border-image: 100 round;
    transition: 0.5s;
}

.plan_item:hover{
    border-image: url(./image/br.png);
    border-image-slice: 1;
    border-image-repeat: round;
}

.plan_item h4{
    font-size: 2rem;
    color: #262626;
}

.plan_item img{
    width: 125px;
}

.plan_item .plan_img{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.plan_item p.price{
    font-size: 3.1rem;
    color: #f8ae56;
    font-weight: 900;
}

.plan_item p span{
    font-size: 1.1rem;
    color: black;
    font-weight: 700;
}

.plan_item hr{
    opacity: 0.3;
}

.plan_item ul{
    list-style-type: none;
    text-align: left;
    margin-top: 18px;
    margin-bottom: 26px;
}

.plan_item ul li{
    display: flex;
    margin: 15px 0;
}

.plan_item li i{
    color: #f55f8d;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    background: #feeff3;
    font-size: 0.7rem;
    margin-right: 20px;
}

.plan_item li p{
    color: black;
    font-size: 1.1rem;
}

.plan_item button{
    padding: 20px 36px;
    border-radius: 30px;
    color: white;
    border: none;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    font-size: 1rem;
    transition: 0.5s;
    cursor: pointer;
}

.plan_item button:hover{
    background-position: right center;
}

/* feedback */
.feedback{
    text-align: center;
    margin-top: 100px;
    background-image: url(./image/bg17.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.feedback h4{
    color: #f55f8d;
    font-size: 1.35rem;
    font-weight: 700;
}

.feedback h2.fb-title{
    font-size: 4.35rem;
    color: #262626;
    padding-top: 20px;
    padding-bottom: 30px;
}
  
.testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
}
  
.testimonial-thumbs {
    width: 300px;
    height: 170px;
    margin: auto;
    box-sizing: border-box;
}

.testimonial-comment {
    min-height: 300px;
    width: 100%;
}

.testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
}

.testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
}

.testimonial-text {
    padding: 20px 50px 42px 50px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 0 100px 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.testimonial-text h2{
    font-size: 1.3rem;
    color: black;
}

.testimonial-text h3{
    font-size: 1.1rem;
    color: #f55f8d;
    font-style: italic;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 40px;
}

.testimonial-text p{
    font-size: 1.1rem;
    font-style: italic;
}

.testimonial-text i{
    position: absolute;
    top: 26px;
    left: 30px;
    font-size: 4.2rem;
    color: #f55f8d;
    transform: rotate(180deg);
}

.swiper-pagination-bullet-active{
    background: #f55f8d;
}

.swiper-icon{
    height: 33px;
    width: 49px;
    left: 50%;
    transform: translateX(-63.7%);
    bottom: 49px;
    opacity: 0;
    background: #f55f8d;
    transition: 1s;
    position: relative;
}

.swiper-icon::before{
    content: "";
    background-image: url(./image/pattern12.png);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.testimonial-pic{
    position: relative;
}

.testimonial-pic::before{
    position: absolute;
    content:"";
    background: #f55f8d;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    bottom: -12%;
    left: 50%;
    transform: translateX(-90%);
    opacity: 0;
    transition: 0.5s;
}

.testimonial-pic::after{
    position: absolute;
    content:"";
    background: #f55f8d;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    bottom: -34%;
    left: 50%;
    transform: translateX(-110%);
    opacity: 0;
    transition: 0.5s;
}

.swiper-slide-active .swiper-icon, .swiper-slide-active .testimonial-pic::before, .swiper-slide-active .testimonial-pic::after{
    opacity: 1;
}

/* blog */
.blog{
    padding-top: 100px;
    background-image: url(./image/bg16.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.blog_title{
    text-align: center;
}

.blog_title h3{
    color: #f55f8d;
    font-size: 1.35rem;
    font-weight: 700;
}

.blog_title h2{
    font-size: 4.35rem;
    color: #262626;
    padding-top: 20px;
    padding-bottom: 30px;
}

.blog_list .blog_container{
    background: rgba(245,95,141,.1);
    border-radius: 10px;
    position: relative;
    padding-bottom: 10px;
}

.blog_list .blog_container::before{
    position: absolute;
    content: "23 MARCH 2022";
    background: linear-gradient(to right, #f55f8d,#f8ae56);
    width: 142px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    top: 39.5%;
    left: 16px;
    color: white;
    font-size: 14px;
}

.blog_list .blog_content{
    margin: 36px 0 10px 0;
}

.blog_content h4{
    margin-left: 16px;
    margin-right: 20px;
    font-size: 1.5rem;
    color: #262626;
    line-height: 1.4;
}

.blog_list img{
    width: 100%;
    border-radius: 10px;
}

.blog_content p{
    margin-left: 16px;
    margin-right: 20px;
}

.blog_content hr{
    opacity: 0.2;
    margin-top: 40px;
    margin-bottom: 16px;
}

.blog_content i{
    color: #f55f8d;
    margin-left: 16px;
    margin-right: 4px;
    font-size: 1.4rem;
    text-align: center;
    position: relative;
    top: 2px;
}

.blog_content span{
    text-transform: uppercase;
    font-size: 0.9rem;
}

.blog_content span.john{
    color: #f55f8d;
}

/* contact */
.contact{
    background-color: #0e1b1f;
    background-image: url(./image/bg4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    display: block;
    margin-top: 50px;
    z-index: 1;
}

.contact::before{
    content: "";
    background-image: url(./image/pattern2.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;   
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.contact_subscribe{
    width: 100%;
    padding: 50px 60px;
    background: white;
    background-image: url(./image/pattern3.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 102%;
    display: flex;
    align-items: center;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.contact_subscribe h2{
    width: 50%;
    font-size: 1.8rem;
    color: #262626;
}

.contact_subscribe form{
    width: 50%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.contact_subscribe input{
    flex: auto 1;
    padding: 22px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    border-radius: 8px 0 0 8px;
    border: 0.5px solid white;
    font-size: 15px;
    color: #636363;
    outline: 0;
    transition: 0.5s;
}
.contact_subscribe button{
    border: none;
    font-size: 20px;
    padding: 22px 38px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-radius: 0 8px 8px 0;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    overflow: hidden;
}

.contact_subscribe button:hover{
    background-position: right center;
}

.contact_subscribe button:hover i{
    animation: button-move 0.4s 1;
}

.contact_subscribe input:hover, .contact_subscribe input:focus{
    border: 0.5px solid #f55f8d;
}

.contact_grid{
    display: flex;
    padding: 60px 0;
}

.contact_left{
    width: 25%;
    color: white;
}

.contact_left p{
    color: white;
    font-size: 0.95rem;
}

.contact_left i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: linear-gradient(to right, #f55f8d 0%,#f8ae56 50%, #f55f8d 100%);
    border-radius: 50%;
    margin-right: 10px;
}

.contact_left .cc_item{
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.contact_link{
    width: 25%;
}

.contact_link h3{
    color: white;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 50px;
    position: relative;
}

.contact_link h3::before{
    content: "";
    position: absolute;
    height: 4px;
    width: 16px;
    border-radius: 2px;
    top: 40px;
    background: linear-gradient(to right, #f55f8d,#f8ae56);
}

.contact_link h3::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 46px;
    border-radius: 2px;
    top: 40px;
    left: 20px;
    background: linear-gradient(to right, #f55f8d,#f8ae56);
}

.contact_link ul{
    list-style-type: none;
}

.contact_link li{
    margin-bottom: 20px;
}

.contact_link i{
    margin-right: 12px;
}

.contact_link a{
    color: #636363;
    text-decoration: none;
    transition: 0.5s;
}

.contact_link a:hover{
    color: white;
}

/* footer */
.footer{
    background: #1f343b;
    padding: 12px 0;
}

.footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p{
    color: white;
}

.footer p span{
    color: #f55f8d;
}

.footer a{
    color: white;
}

.footer i{
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.064);
    transition: 0.3s;
}

.footer i:hover{
    background: #f55f8d;
}

/* backtotop */
a.backtotop{
    position: fixed;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 8px;
    background: #f55f8d;
    bottom: 15px;
    right: 15px;
    color: white;
    box-shadow: rgba(245, 95, 140, 0.32) 0px 10px 50px;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
}

a.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

/* keyframes */
@keyframes header-move{
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}

@keyframes features-move {
    0% {
        transform: rotate(1deg) translate(2px,2px)
    }

    50% {
        transform: rotate(-1deg) translate(-2px,-2px)
    }

    100% {
        transform: rotate(1deg) translate(2px,2px)
    }
}

@keyframes button-move {
    0% {
        transform: translateX(0);
    }
    49% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(-100%);
        opacity: 0;
    }
    51% {
        opacity: 1;
    }
}